<%- include("./partials/header") -%>
    <h1>
        ERROR
    </h1>
    <p>We couldn't find the Pokemon you were searching for.<br>Please make sure to write the name correctly and in lowercase or ingress an ID between 1 and 1025</p>
    <a href="/">Go back to the Landing Page</a>
<%- include("./partials/footer") -%>